



<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Home</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">
            	 <%= fa_icon "camera-retro" %>
            </a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head" id="temperature_display">...</h1>
        <p class="splash-subhead">
            Luftfeuchte: <span id="humidity_display">...</span>%
        </p>
        <p class="mode_buttons">

            	<%= link_to({action: :set_mode, :mode => 0, :remote => true}, class: "pure-button pure-button-primary-disabled", id: "mode_0") do %>
	  	Thermostat 
	<% end %>

            	<%= link_to({action: :set_mode, :mode => 1, :remote => true}, class: "pure-button pure-button-primary-disabled", id: "mode_1") do %>
	  	Thermostat + 
            		<%= fa_icon "clock-o" %>
	<% end %>

            	<%= link_to({action: :set_mode, :mode => 2, :remote => true}, class: "pure-button pure-button-primary-disabled", id: "mode_2") do %>
	  	jetzt an  + 
            		<%= fa_icon "clock-o" %>
	<% end %>

            	<%= link_to({action: :set_mode, :mode => 3, :remote => true}, class: "pure-button pure-button-primary-disabled", id: "mode_3") do %>
	  	jetzt aus + 
            		<%= fa_icon "clock-o" %>
	<% end %>
        </p>
    </div>
</div>


<div class="content-wrapper">
    <div class="content">
        <!-- <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2> -->

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead"></h3>
                <p>
                    
                    <%= link_to({action: :set_mode, :mode => 0, :remote => true}, class: "pure-button", id: "mode_0") do %>
	  	immer an
	       <% end %>

                </p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">Heizungen</h3>
                <p>
                    <div class="valve" id="valve_0"><%= fa_icon "circle" %> Küche</div>
                    <div class="valve" id="valve_1"><%= fa_icon "circle" %>Esszimmer</div>
                    <div class="valve" id="valve_2"><%= fa_icon "circle" %>Wintergarten 1</div>
                    <div class="valve" id="valve_3"><%= fa_icon "circle" %>Wintergarten 2</div>
                    <div class="valve" id="valve_4"><%= fa_icon "circle" %>Toilette</div>
                </p>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">Termostate</h3>
                <p>
                    <div class="thermostat" id="thermostat_0"><%= fa_icon "circle" %>Küche</div>
                    <div class="thermostat" id="thermostat_1"><%= fa_icon "circle" %>Esszimmer</div>
                    <div class="thermostat" id="thermostat_2"><%= fa_icon "circle" %>Wintergarten</div>
                </p>
            </div>

            <!-- 


            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Modular
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Plays Nice
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div> -->
        </div>
    </div>

<!--     <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="img/common/file-icons.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div> -->

<!--     <div class="content">
        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

    </div> -->

    <div class="footer l-box is-center">
        <!-- View the source of this layout to learn more. Made with love by the YUI Team. -->
    </div>

</div>




<script type="text/javascript">
	
	$(document).ready(function() {

		Dashboard.init();
		//Dashboard.requestStatus("<%= api_v1_path(cmd: "GS") -%>"); 
		Dashboard.requestStatus("<%= url_for(action: 'get_status') -%>"); 
	});

</script>

